<div class="container mt-5 mb-5">
  <h1 class="text-center">Nossos Contatos</h1>
  <p class="text-center">
    Rua dos Sabores, 123 - Bairro Delícias Gourmet <br />
    Telefone:(11) 3456-7890
  </p>
  <form action="">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Digite seu nome" />
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Digite seu Telefone" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Digite seu E-mail" />
      </div>
      <div class="col-lg-12 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Digite sua Dúvida" />
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <button class="btn btn-md btn-success mt-3">Enviar</button>
      </div>
    </div>
  </form>
</div>
