<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-lg-6" *ngIf="menuData">
      <a routerLink="../" class="btn btn-sm btn-warning mb-4"><i class="bi bi-arrow-left"></i> Voltar </a>
      <img src="{{ menuData[0].foodImg }}" width="100%" />
      <h1>{{ menuData[0].foodName }}</h1>
      <p>{{ menuData[0].foodDetails }}</p>
      <p>{{ menuData[0].foodPrice | currency : "BRL" }}</p>
    </div>
    <div class="col-lg-6">
      <h1 class="text-center"> Informe seus Dados </h1>
      <form action="">
        <input type="text" class="form-control" placeholder="Digite seu nome"/>
        <input type="text" class="form-control" placeholder="Digite seu telefone"/>
        <textarea class="form-control" placeholder="Digite o local de entrega"></textarea>
        <button class="btn btn-md btn-success mt-3">Fazer Pedido</button>
      </form>
    </div>
  </div>
</div>
